.App {
  text-align: center;
}
.button {
  background-color: #0047ca; /* Green */
  border: none;
  color: white;
  padding: 25px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.h1{
  height: 1000;
  font-size: 400%;
  border-style: solid;
  border-color: rgb(210, 237, 255);
  text-shadow: 2px 2px #0047ca;
  color:#7dd6ff
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#tweets {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

#tweets td, #tweets th {
  border: 1px solid rgb(0, 0, 0);
  padding: 8px;
}

#tweets tr:nth-child(even){background-color: #f2f2f2;}

#tweets tr:hover {background-color: #ddd;}

#tweets th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #65c4f0;
  color: white;
}
